@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


.Body {
  font-family: 'Poppins', sans-serif; /*шрифт*/
  overflow-x: hidden;
  background-color: #F8F8F8;
  height: 100%;
}


.Poppins_500 { 
  font-weight: 500; /*размеры букв*/
} 

.Poppins_400 { 
  font-weight: 400; /*размеры букв*/
} 

.blink {
  text-decoration: blink; 
}

.LogoImg{
  width: 50px;
  height: 50px;
  transform: rotate(-15deg);
}

.cap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20%;
  flex-wrap: wrap;
}

.CapBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}

.Transitions{
  margin: 0px 5px;
  text-decoration: none;
}

.WorkButton{
  text-decoration: none;
  background-color: #2D74FF;
  color: #fff;
  padding: 15px 30px;
  border-radius: 12px;
}

.WorkButton:hover {
  background-color: white;
    color: black;
    border: 2px solid #2D74FF; /* Green */
}

.Information{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  margin-left: 10%; 
}


.Picture{
  width: auto;
  height: 500PX;
}

.PrefixEntry{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2D74FF;
  opacity: 0.7;
}

.MainText{
font-family: Gelasio;
font-style: normal;
font-weight: 600;
font-size: 57px;
line-height: 120%;
color: #171832;
margin-top: 5px;
margin-bottom: 10%;
}

.INNOVATEDLogo{
font-family: Gelasio;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #171832;
}

.colortext{
  color: #2D74FF;
}

.Mardg{
  margin-top: 40px; 
}


.Blue{
  color: #2D74FF;
}

.Black {
  color: #171832;
}

@media (max-width:1000px)
{
  .Information{
    flex-wrap: wrap;
  }
}
